DEFAULT_PORT=3333

PLUGINSX_DEV_URL=http://localhost:5117 # URL da aplicação web (../web/**) DEV
PLUGINSX_URL=https://pluginsx.vercel.app/ # URL publica do pluginsx (../web/**) PROD

MONGODB_URI=
MONGODB_DB_NAME="api"